body{
    margin: 0;
    padding: 0;
    background-color: #f5ddd9;
}

h1{
  width: 100%;
    font-size: 40px;
    margin-top: 54px;
    background-color: #ba7f81;
    margin-bottom: 0;
    color: #722c2b;
    font-family: Trattatello, fantasy;
    text-align: center;
    padding: 10px;
}


nav{
    width: 100%;
    background-color: #a96361;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#navbar {
  list-style-type: none;
  overflow: hidden;
  display: flex;
}

a{
    text-decoration: none;
    color: #f5ddd9;
    font-size: 18px;
    align-items: center;
}

.home{
    margin-right: 5px;
}


li{
    margin-right: 16px;
    margin-left: -20px;
}

#navbar li a:hover {
    transition-duration: 0.2s;
    letter-spacing: 1px;
    color: #722c2b;
}

.box{
  border: #a96361, 4px, double;
  margin: 30px;
  padding: 30px;
  overflow: hidden;
  margin-top: 60px;

}

.title{
    color: #a96361;
    font-family: apple Chancery, cursive;
    letter-spacing: 2px;
    margin-bottom: -40px;
    margin-top: -18px;
    font-size: 45px;
    text-align: center;
}

p{
    margin-top: 30px;
    font-size: 18px;
    color: #ba7f81;
    font-family: American Typewriter, serif;
    margin-bottom: 18px;
}

.razon{
    text-align: center;
    font-weight: normal;
    color: #a96361;
    text-decoration: overline;
    margin-bottom: 30px;
}

img{
  width: 45%;
  float: right;

}

.texto{
  width: 45%;
  margin-left: 5px;
  margin-top: 1%;
  float: left;
}

.box2{
  margin-top: 50px;
}

aside {
  width: 30%;
  position: fixed;
  overflow: hidden;
  top: 60%;
  right: 3%;
  border-radius: 10px;
  border: #a96361 solid;
  padding: 10px;
  margin-left: 15px;
  float: right;
  background-color: #f2d2d4;
}


#aside{
  font-size: 15px;
  font-style: italic;
  margin-bottom: 0px;
  margin-top: 2px;
  color: #a96361;
}



#footer{
  position: absolute;
  z-index: 2;
  font-size: 18px;
  text-align: center;
  padding: 15px;
  background-color: #ba7f81;
  width: 100%;
  color: #722c2b;
}